/* FIRST TEST */
h1 {
  color: red;
}

.spoiler-content {
  display: inline-block;
  overflow: hidden;
  width: 0;
  height: 0;
  opacity: 0;
  transition: all 0.5s;
}

.spoiler-content.visible {
  display: inline;
  background-color: rgb(255, 159, 159);
  width: auto;
  height: auto;
  opacity: 1;
}

/* SECOND TEST /////////////////////////////////////////////////*/
body {
  background-color: #eee;
  font-family: sans-serif;
  padding: 50px;
}

ul.tabs,
.tabs li {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 20px;
}

.tabs li {
  display: block;
  float: left;
}

.tabs:after {
  display: table;
  content: " ";
  clear: both;
}

a {
  text-decoration: none;
  color: inherit;
}

.tabs a {
  display: inline-block;
  background-color: #eee;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  padding: 10px 15px;
}

.tabs .active a {
  background-color: #fff;
}

.all-tabs-content {
  position: relative;
  z-index: 3;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  margin-bottom: 20px;
}

.tab-contentS {
  display: none;
}

.tab-contentS.active {
  display: block;
}

.fade {
  opacity: 0;
  transition: opacity 0.3s;
}

.fade.in {
  opacity: 1;
}
