body {
  background: linear-gradient(rgb(13, 87, 197), rgb(14, 146, 207));
  height: 1200px;
}

.item {
  background-color: #fff;
  box-shadow: 10px 10px 15px rgba(000, 000, 000, 0.24);
  margin-top: 40px;
  font-family: Arial, Helvetica, sans-serif;
}

.item-title {
  font-size: 30px;
  font-weight: 700;
  padding: 20px 10px;
}

.item-description {
  padding: 10px 10px;
}

.back-color1 {
  background-color: red;
  height: 300px;
}

.back-color2 {
  background-color: green;
  height: 300px;
}

.back-color3 {
  background-color: purple;
  height: 300px;
}

.back-color4 {
  background-color: yellow;
  height: 300px;
}

.back-color5 {
  background-color: black;
  height: 300px;
}

.carousel {
  position: relative;
}

.carousel-container {
  transition: transform 0.3s;
}

.carousel-container::after {
  content: "";
  clear: both;
  display: table;
}

.carousel-item {
  float: left;
}

.item {
  margin-left: 10px;
}

.carousel-next,
.carousel-prev {
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 50%;
  top: 50%;
  margin-top: -20px;
  right: -20px;
  box-shadow: 0 15px 35px #323232, 0 5px 15px #00001a;
  cursor: pointer;
  transition: transform 0.3s, opacity 0.3s;
}

.carousel-prev {
  right: auto;
  left: -20px;
}

.carousel-prev-hidden {
  opacity: 0;
}

.carousel-next-hidden {
  opacity: 0;
}

.carousel-next:hover,
.carousel-prev:hover {
  transform: scale(1.2);
}
